# MY FIRST PROGRAM
## PROJECT
### BY
#### KHADIJA
##### DATA SCIENCE
###### BOOTCAMP

In [1]:
# MY first project on python
print('Hello')

Hello

In [2]:
print(50)
print(5.5)

50
5.5

In [3]:
print('The age of Olorunfemi is', 50)

The age of Olorunfemi is 50

In [4]:
#Print on new line

print('Hello World\nHello World\nHello World')

Hello World
Hello World
Hello World

In [5]:
#Concatenate

print('Hello' + 'World')

HelloWorld

In [6]:
print('Hello' + ' '+ 'Gomycode')

Hello Gomycode

In [7]:
print('I am', 12, 'years old')

I am 12 years old

In [8]:
input('what is your name')

what is your nameKhadija

'Khadija'

In [9]:
input('what is your name')

what is your nameAdeola

'Adeola'

In [10]:
print('You are welcome', input('what is your name? '))

what is your name? Adeola
You are welcome Adeola

In [11]:
print('You are welcome', input('what is your name?\n '))

what is your name?
 Khadija
You are welcome Khadija

In [12]:
int(input('How Old are you?\n '))

How Old are you?
 12

12

In [13]:
print(int(input('How Old are you?\n ')))

How Old are you?
 22
22

In [14]:
print('I am ', int(input('How Old are you?\n ')), 'years old')

How Old are you?
 32
I am  32 years old

In [15]:
print('You are welcome', input('first name '), input('last name '),'\nyou are', int(input('How Old are you? ')), 'years old')

first name Khadija
last name Olanipekun
How Old are you? 12
You are welcome Khadija Olanipekun
you are 12 years old

In [16]:
# variable
A=2
B=5

In [17]:
A

2

In [18]:
B

5

In [19]:
A=10

In [20]:
A

10

In [21]:
FirstName = 'Femi'
LastName = 'Femlad'
Age = 10
Height = 5.5

In [22]:
print('You are welcome', FirstName,LastName, 'You are', Age, 'years old', 'and', Height, 'm tall')

You are welcome Femi Femlad You are 10 years old and 5.5 m tall

In [23]:
First_Name = input('What is your First name? \n')
Last_Name = input('What is your Last name? \n')
Age = int(input('How old are you? \n'))
Height = float(input('What is your Height? \n'))

print('You are welcome', First_Name,Last_Name,'.''\nYou are', Age, 'years old', 'and', Height, 'm tall.')

What is your First name?
Adeola
What is your Last name?
Olanipekun
How old are you?
12
What is your Height?
5.0
You are welcome Adeola Olanipekun .
You are 12 years old and 5.0 m tall.

In [24]:
#Type casting
A = str(5)
B = int(6)
C = int(7.3)
D = int(8.7)
E = float(7)

In [25]:
print(A)
print(B)
print(C)
print(D)
print(E)

5
6
7
8
7.0

In [26]:
3*A ### Data type of A is a string

'555'

In [27]:
A+'A'

'5A'

In [28]:
'Femi ' * 3

'Femi Femi Femi '

In [29]:
type(A) #to check data type

str

In [30]:
type(B)

int

In [31]:
Score1 = 30
Score2 = 35
Score3 = 50
Score4 = 70

In [32]:
Score1 + Score2 + Score3 + Score4

185

In [33]:
## '=' to assign variable
## '==' Equal to

5==6

False

In [34]:
5==5

True

In [35]:
#Assigning multiple variaables to multiple value at ones to show result respectively
W, X, Y, Z = 23, "Femi", 'Micheal', 'Yemisi'

In [36]:
print(X)
print(Y)
print(Z)
print(W)

Femi
Micheal
Yemisi
23

In [37]:
#Assigning multiple variaables to multiple value at ones to show result respectively
x=y=z ="Femi"

In [38]:
print(x)
print(y)
print(z)

Femi
Femi
Femi

In [39]:
x=5
y=10
z='John'

In [40]:
print(y,z)

10 John

In [41]:
#Data types
## Numbers - integers (int), float (float)
## Text - string (str)
## Booleans - True/False
## List
## Set
## Dictionary
## Tuples

In [42]:
## Integer (int) - Whole numbers without decimal. e.g. 5 10 100 1000 1000000 120, etc
## Float (float) - numbers with decimal, e.g 1.2 1.23 1.567, etc
## Text - string (str) Text word e.g 'Femi' 'Orange'
## Booleans - Results for logical test, to check if LHS=RHS

In [43]:
5==5

True

In [44]:
4>50

False

In [45]:
##Basic operations
## multiplication, Division, Addition, Subtraction, Exponential, Modulo

print(12*3)
print(12/3)
print(int(12/3))
print(12/5)
print(int(12/5))
print(12+3)
print(12-3)
print(2**3)
print(4**3)
print(9%2)
print(9//2)

36
4.0
4
2.4
2
15
9
8
64
1
4

In [46]:
x=5
x

5

In [47]:
x+-3

2

In [48]:
x+=3
x

8

In [49]:
## Comparison operator
## Equal to                    ==
## Not equal to                !=
## Greater than                >
## Greater than or Equal to    >=
## Less than                   <
## Less than or Equal to       <=

print(5==5)
print ('male' == 'male')
print (6!=70)
print (50>40)
print (12<20)

True
True
True
True
True

In [50]:
## Comparison operator
## Equal to                    ==
## Not equal to                !=
## Greater than                >
## Greater than or Equal to    >=
## Less than                   <
## Less than or Equal to       <=

print(5==5)
print ('male' == 'male')
print (x!=7)
print (50>40)
print (16<x)

True
True
True
True
False

In [51]:
x = int(input('Test score: '))
y = int(input('Exam score: '))
z = int(input('practical score: '))

Total = (x+y+z)

print ('Your percentage score is',Total,'%')

Test score: 12
Exam score: 32
practical score: 34
Your percentage score is 78 %

In [52]:
x = int(input('Test score: '))
y = int(input('Exam score: '))
z = int(input('practical score: '))

Total = (x+y+z)

print ('Your percentage score is',Total,'%')

Test score: 22
Exam score: 34
practical score: 12
Your percentage score is 68 %

In [54]:
## 23rd July,2024
is_member = False
if not is_member:
    print('Customer is not a member')
else:
    print('Customer is a member')

Customer is not a member

In [57]:
number = 10
if number % 2 == 0:
    print('number is even')
else:
    print('number is odd')

number is even

In [58]:
number = int(input('Input number value'))
if number % 2 == 0:
    print('number is even')
else:
    print('number is odd')

Input number value14
number is even

In [61]:
number = int(input('Input number value: '))
if number % 2 == 0 and number > 10:
    print('True')
else:
    print('False')

Input number value: 14
True

In [66]:
number = int(input('Input number value: '))
if number % 2 == 0 or number > 10:
    print('True')
else:
    print('False')

Input number value: 16
True

In [67]:
x = (2>5)==(3==6)
if x:
    print('x is True')
else:
    print('x is not True')

x is True

In [68]:
l = [9,13,2]
for i in l:
    print(i)

9
13
2